---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Beyond from '../components/Beyond.astro';
import Projects from '../components/Projects.astro';
import Testimonial from '../components/Testimonial.astro';
import Currently from '../components/Currently.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Sean Campbell | Software Engineer">
  <Nav />
  
  <main>
    <Hero />
    <Beyond />
    <Projects />
    <Testimonial />
    <Currently />
    <Contact />
  </main>
  
  <Footer />
</Layout>
